#creation, #submitted {
  margin: 75px 0;
  padding: 0;
  h3 {
    display: inline;
    line-height: 1.5em;
  }
  .description {
    display: inline;
  }

  .requiredness, .date {
    float: right;
  }

  .working-indicator {
    visibility: hidden;
    color: green;
    .fa {
     font-size: 1.1em;
    }
  }
}

#creation {
  .add-wrapper {
    margin: 20px auto;
    width: 7%;
    .delete-button {
      width: 100%;
    }
  }
}

#submitted {
  h2 {
    margin: 50px 0;
    .glyphicon {
      font-size: .8em;
    }
  }
}

.big-link {
  padding: 0 10px;
  margin: 25px 0;


  .address {
    font-size: 1.25em;
  }

  .date {
    position: relative;
    float: right;
  }
  .favicon {
    margin-right: .5em;
  }
  .visit-link {
    margin-left: .5em;
    font-size: .95em;
  }

  .delete-button {
    visibility: hidden;
  }
}

.big-link:hover {
  .delete-button {
    visibility: visible;
  }
}


footer {
  // TODO reenable when overlapping issue is fixed
  display: none; 

  position: fixed;
  bottom: 1%;
  text-align: center;
  width: 100%;
}
